<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="server=192.168.101.1;database=sportz_cricket;uid=scripts;pwd=sportzCT;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="savePathJsonServer" value="D:\Timeline_Winners\Data\Files\"/>
    <add key="savePathLogsServer" value="D:\Timeline_Winners\Data\Logs\"/>
  </appSettings>
</configuration>